{% extends 'cnls/base.html' %}
{% load staticfiles %}

{% block onglet_apropos %}class="active"{% endblock %}

{% block drapeau %}<img alt="Français" src="{% static "./assets/img/locale_fr-FR.png" %}">{% endblock %}

{% block content %}
  <div class="details"><!-- classe pour profiter du css qui décale le haut du texte vers le bas (sinon recouvert par la navbar)-->

  <h2>&Agrave; propos</h2>

<p>L’application cartographique du Comité National de Lutte contre le SIDA à Madagascar est le résultat d’une collaboration entre 
l’ONUSIDA Océan Indien, CartONG et le Comité National de Lutte contre le SIDA à Madagascar.</p>

<p>Initié par Christophe Noualhat de l'ONUSIDA en 2013, le projet a été repris en janvier 2015 par une équipe de bénévole de l’association 
CartONG (Laure Voileau, Joana Roussillon, Thierry Razanajao, Erik Escoffier, Jean-Paul Nicoletti, Johan Richer, Christian Champion et 
Morgan Alexaline).</p>

<p>Cette application de cartographie interactive est un outil opérationnel permettant un recensement, spatial et temporel, des activités 
de lutte contre le SIDA menées par différentes institutions de la société civile malgache.</p>

<p>Cette application repose sur une base de données sécurisée qui permet aux acteurs des institutions concernées de se connecter en ligne 
pour faire remonter les informations relatives aux différentes actions.</p>

<p>Cette cartographie va permettre de faciliter le travail du CNLS à Antananarivo. Elle permet de visualiser très rapidement l’ensemble 
des actions menées sur le terrain, d’optimiser les actions de planification et faciliter la collecte des informations sur le terrain.</p>

<p>L’ensemble de l’application repose sur un assemblage de technologies open source afin de faciliter l’utilisation et la pérennisation de 
l’outil.</p><br/>


  <h2>Mentions légales</h2>

<p>Le présent site est édité par le Comité National de Lutte contre le SIDA à Madagascar (CNLS).<br /> Basé sur le framework Django et
sur les données cartographiques d'OpenStreetMap, il est développé par une équipe de bénévoles de l'association CartONG.<br />
L'hébergement est assuré par la société Scaleway.</p>

<h5 class="bold-text">Édition</h5>
<p>Sécrétariat Exécutif du Comité National de Lutte contre le SIDA<br />
Nouvel Immeuble ARO <br />
Ampefiloha - Antananarivo 101<br />
Madagascar</p>
<p>Téléphone : +261 020 22 382 86 / +261 033 11 382 86<br />
Email : secnls (AT) moov.mg</p>

<h5 class="bold-text">Développement</h5>
<p>CartONG<br />
association loi 1901 sans but lucratif<br />
SIREN 490 816 345 00022</p>

<p>Siège social :<br />
Parc d'activités de Côte Rousse<br />
180, rue du Genevois<br />
73000 Chambéry<br />
France</p>

<p>Téléphone : +33 4 79 26 28 82<br />
Email : info (AT) cartong.org<br />
Site internet : www.cartong.org</p>

<h5 class="bold-text">Hébergement</h5>
<p>Scaleway, société ONLINE SAS, RCS Pais B 433 115 904<br />
Siège social : 8 rue de la ville l'Evêque -75008 PARIS<br />
Site Internet : www.scaleway.com</p>


<h5 class="bold-text">Droits d'auteur et de reproduction</h5>
<p>Les données accessibles au travers du présent site sont la propriété du Comité National de
Lutte contre le SIDA à Madagascar (CNLS). Ces données ne peuvent être reproduites sans l'autorisation écrite formelle du secrétariat
exécutif du CNLS. En particulier, toute utilisation à des fins commerciales ou publicitaire est interdite.</p>

<p>La mise en place de liens hypertextes renvoyant aux pages du site est autorisée, sous réserve que ses pages ne soient pas intégrées
à l’intérieur des pages d’un autre site mais accessibles via l’ouverture d’une fenêtre. Toutefois, CartONG ou le CNLS se réservent le
droit de demander la suppression de liens chez des sites au contenu inapproprié, notamment à caractère raciste, xénophobe ou
homophobe.</p>


<h5 class="bold-text">Limitation de responsabilité</h5>
<p>CartONG et le CNLS veillent à la mise à jour régulière du site. Ils ne peuvent garantir aux usagers du site ni l’exactitude des
informations publiées, ni l'accessibilité en continu au site internet.</p><br/><br/>

  </div>
{% endblock %}
