{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Atlas CNLS - Madagascar{% endblock %}</title>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

<!--  <link rel="shortcut icon" type="image/png" href="{% static "./media/favicons/favicon.ico" %}">-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "./media/favicons/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "./media/favicons/favicon-32x32.png" %}" sizes="32x32">
  <link rel="icon" type="image/png" href="{% static "./media/favicons/favicon-16x16.png" %}" sizes="16x16">
  <link rel="manifest" href="{% static "./media/favicons/manifest.json" %}">
  <link rel="mask-icon" href="{% static "./media/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "./assets/main.css" %}">

 {% block custom_head %}{% endblock %}

</head>

{% block open_body %}<body>{% endblock %}
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <span class="hidden-xs">Comité National de Lutte contre le SIDA à Madagascar</span>
          <span class="visible-xs">CNLS à Madagascar</span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false">
        <ul class="nav navbar-nav">
          <li {% block onglet_carte %}{% endblock %}><a href="{% url 'home' %}">Carte</a></li>
          <li {% block onglet_apropos %}{% endblock %}><a href="{% url 'apropos' %}">À propos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'admin:index' %}">Administration</a></li>
              <li><a href="{% url 'bugs' %}">Signaler un bug</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block drapeau %}{% endblock %} <b class="caret"></b></a>
            <ul class="dropdown-menu lang">
              <li class="disabled"><a href="#"><img alt="Français" src="{% static "./assets/img/locale_fr-FR.png" %}"></a></li>
              <li class="disabled"><a href="#"><img alt="Malagasy" src="{% static "./assets/img/locale_mg-MG.png" %}"></a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav><!--/top nav -->


{% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block load_js %}{% endblock load_js %}
</body>
</html>
