{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Centre National de Lutte contre le SIDA à Madagascar{% endblock %}</title>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="stylesheet" type="text/css" href="{% static "./vendors.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "./assets/main.css" %}">

 {% block custom_js %}{% endblock %}

</head>

{% block open_body %}<body>{% endblock %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Centre National de Lutte contre le SIDA à Madagascar</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li {% block onglet_carte %}{% endblock %}><a href="{% url 'home' %}">Carte</a></li>
          <li {% block onglet_apropos %}{% endblock %}><a href="{% url 'apropos' %}">À propos</a></li>
          <li><a href="{% url 'admin:index' %}">Connexion</a></li>
          <li><a href="{% url 'home' %}"><img alt="Français" src="{% static "./assets/img/locale_fr-FR.png" %}"></a></li>
          <li><a href="#"><img alt="Malagasy" src="{% static "./assets/img/locale_mg-MG.png" %}"></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav><!--/top nav -->


{% block content %}{% endblock %}
</body>
</html>
