{% extends 'cnls/base.html' %}

{% load staticfiles %}

{% block custom_head %} 
  <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" /> <!-- à passer à 1.0.0 pour coller avec le js-->
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.markercluster/v1.0.0-beta.2.0/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Leaflet/Leaflet.markercluster/v1.0.0-beta.2.0/dist/MarkerCluster.css">

  <script type="text/javascript">
var actionsNationales = {{actionsN|safe}};
var actionsTananarive = {{actionsT|safe}};
var actionsRegionales = {{actionsR|safe}};
var actionsLocales = {{actionsL|safe}};
  </script>
{% endblock custom_head %}

{% block open_body %}<body onload="init();">{% endblock %}  

{% block onglet_carte %}class="active"{% endblock %}

{% block drapeau %}<img alt="Français" src="{% static "./assets/img/locale_fr-FR.png" %}">{% endblock %}

{% block content %}
  <div class="container-fluid fill">

      <div class="collapse in" id="accordion">

        <!--bug link panel-->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" id="bug" href="{% url 'bugs' %}">&#8594; Signaler un bug</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" role="tabpanel">
          </div>
        </div><!--/bug link panel 

        <!--count panel -->
        <div class="panel panel--inner">
          <div class="panel-heading count" role="tab">
            <h4 class="panel-title count"><span id="markersCount">...</span> actions affichées</h4>
          </div>
        </div><!--/count panel -->


        <!--echelles panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#echelle" aria-expanded="true" aria-controls="echelle" class="panel-title-inner" data-parent="#accordion">
                &Eacute;chelles d&#39;intervention
              </a>
            </h4>
          </div>

          <div id="echelle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
          
            <div class="panel-body checkboxAll">       
              <label>
                <input type="checkbox" checked onClick="toggleAll(this, 'echelle')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="echelle">
              
              <label><input type="checkbox" checked data-filter-checkbox-value="ActionNationale">Actions nationales</label>
              <label><input type="checkbox" checked data-filter-checkbox-value="ActionTananarive">Actions &agrave; Tananarive</label>
              <label><input type="checkbox" checked data-filter-checkbox-value="ActionRegionale">Actions r&eacute;gionales</label>
              <label><input type="checkbox" checked data-filter-checkbox-value="ActionLocale">Actions locales</label>
            </div>
          </div>
        </div><!--/echelles panel -->


        <!--actionType panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" data-parent="#accordion" href="#actionType" aria-expanded="false" aria-controls="actionType"  class="panel-title-inner">
                Types d'actions
              </a>
            </h4>
          </div>

          <div id="actionType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="actionTypeHeading">
            <div class="panel-body checkboxAll">       
              <label>
                <span class="icon" style="background-image: url({% static "./media/picto/blank.png" %})"></span>
                <input type="checkbox" checked onClick="toggleAll(this, 'typeintervention')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="typeintervention">
              {% for type in typesinterventions %}
              {% with "./media/picto/typeintervention-"|add:type.nom|add:".png" as pictoType %}         
              <label>
                <span class="icon" style="background-image: url({% static pictoType %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{type.nom}}">
                <abbr title="{{type.descriptif}}">{{type.get_nom_display}}</abbr>
              </label>
              {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div><!--/actionType panel -->


        <!--populations panel -->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab" id="populationHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" data-parent="#accordion" href="#population" aria-expanded="false" aria-controls="population" >
                Populations
              </a>
            </h4>
          </div>
          <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
            <div class="panel-body checkboxAll">       
              <label>
                <span class="icon" style="background-image: url({% static "./media/picto/blank.png" %})"></span>
                <input type="checkbox" checked onClick="toggleAll(this, 'cible')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="cible">
              {% for cible in cibles %}
              {% with "./media/picto/cible-"|add:cible.nom|add:".png" as pictoCible %}
              <label>
                <span class="icon" style="background-image: url({% static pictoCible %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{cible.nom}}">{{cible.get_nom_display}}
              </label> 
            {% endwith %}   
            {% endfor %}
            </div>
          </div>
        </div><!--/population panel -->


        <!-- date panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="dateHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" data-parent="#accordion" href="#date" aria-expanded="false" aria-controls="date">
                Dates
              </a>
            </h4>
          </div>
          <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
            <div class="panel-body js-filter-dates filter-dates" data-filter-dates-field-start="date_debut" data-filter-dates-field-end="date_fin" data-filter-dates-format="YYYY-MM-DD">
              <table><tr>
                <td>De : </td>
                <td><div class="dropdown js-filter-dates-start-month">
                  <button class="btn btn-xs dropdown-toggle" type="button" id="date_start_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_month">
                  </ul>
                </div></td>
                <td><div class="dropdown js-filter-dates-start-year">
                  <button class="btn btn-xs dropdown-toggle" type="button" id="date_start_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_year">
                  </ul>
                </div></td></tr>
              
                <tr><td>&nbsp;&nbsp;à :</td>
                <td><div class="dropdown js-filter-dates-end-month">
                  <button class="btn btn-xs dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  </ul>
                </div></td>
                <td><div class="dropdown js-filter-dates-end-year">
                  <button class="btn btn-xs dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  </ul>
                </div></td></tr>
              </table>
            </div>
          </div>
        </div><!--/date panel -->


        <!--export panel -->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" id="export" href="javascript:exportCSV();">Exporter la sélection (format .csv)</a>
            </h4>
          </div>
          <div id="export" class="panel-collapse collapse" role="tabpanel" aria-labelledby="exportHeading">    
          </div>
        </div><!--/export panel -->

      </div>  <!--/.panel-group -->


      <div id="map"></div>


      <div class="modal fade" id="attributionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div id="attribution"></div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

 <!--     <a class="bottomLeftLogo" href="http://www.cartong.org/">
        <img src="{% static "./assets/img/CartONG_logo.png" %}" alt="CartONG">
      </a>-->

  </div><!-- /container-fluid-->


  <script type="text/javascript">
//    L.Icon.Default.imagePath = "{% static "./assets/img" %}";
    window.appConfig = {
//      testDataPath : "{% static "assets/testData.json" %}",
      faritraGeoJsonPath : "{% static "assets/faritra.json" %}",
      locale:'fr-FR'
    };
  </script>

{% endblock content%}

{% block load_js %}
  <script type="text/javascript" src="{% static "./assets/app.js" %}"></script>
  <script type="text/javascript" src="{% static "./assets/underscore-min.js" %}"></script>
  <script type="text/javascript" src="{% static "./assets/moment.js" %}"></script>
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script type="text/javascript" src="{% static "./assets/leaflet.markercluster.js" %}"></script>
{% endblock load_js %}
