
.bottomLeftLogo {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bottomLeftLogo img {
  width: 120px;
}

.aligned label {
    display: block;
    padding: 3px 10px 0 0;
    float: left;
    width: 20em;
    word-wrap: break-word;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body
{
    overflow:hidden;
    width:100%;
}

.navbar {
    min-height:40px !important;
}
.navbar-nav > li > a, .navbar-brand {
    padding:8px 5px 0 5px !important; 
    height: 40px;
}
.navbar-default .navbar-nav > .active > a {
    font-weight: bold;
}
.navbar-nav img {
    width: 30px;
}
/*.navbar-default .dropdown-menu > ul {
.dropdown-open.ul.li.a {
    width: 50px;
}*/



#map {
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
    position: absolute;
}

a.underline {
    text-decoration: underline;
}

#filters, #filters-button {
    position: absolute;
}

#filters {
    z-index: 99;
    right: 0px;
    top: 40px;
    width: 300px;
    height: calc(100% - 80px);

    border: 0;
    background-color: transparent;
}

.filters-inner {
    overflow-y: auto;
    height: 100%;
}

#filters-button {
    z-index: 98;
}

#filters-button, .mobileFilterHeader {
    display: none;
}

@media (max-width: 768px) {
    #filters {
        /*display: none;*/
        width: 100%;
        top: 100%;
        right: 0;
        height: 60%;
        -webkit-transition: top 0.3s;
        transition:top 0.3s;
        background-color: #fff;
    }


    #filters.opened {
        top: 40%;
    }

    .filters-inner {
        padding: 15px;
    }

    .mobileFilterHeader {
        display: block;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        padding: 15px;
        background-color: #df9c46;
        color: #fff;
    }

    .mobileFilterHeader-close {
        float: right;
        background-color: transparent;
        border: 0;
    }
    .mobileFilterHeader-close span {
        color: #fff;
        text-shadow: none;
        opacity: 1;
        margin-left: 5px;
    }


    #filters-button {
        display: block;
        bottom: 10px;
        left: 10px;
        right: 10px;
        width: calc(100% - 20px);
        height: 50px;
    }


}

.panel {
/*    border: 0;
    background-color: transparent;*/

/*    z-index: 99;
    right: 0px;
    top: 40px;
    width: 300px;
    height: calc(100% - 80px);*/

}

.panel-body {
    background-color: rgba(255,255,255,.9);
    padding: 5px 15px;
}
.panel-body input[type="checkbox"] {
    margin: 4px 4px 0 0;
}
#population .panel-body input[type="checkbox"] {
    margin: 4px 10px 0 0;
}

.panel-body label {
    display: block;
/*    line-height: 1.8rem;*/
    line-height: 1.5rem;
    margin-bottom: 0;
}
.panel-body .icon {
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.checkboxAll {
    padding: 0 15px;
}
.checkboxAll label {
    display: block;
    line-height: 1.5rem;
    margin-bottom: 4px 0;
}
.panel--outer {
    box-shadow: 3px 3px 10px rgba(0,0,0,.15);
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.15);
}

.panel--inner {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.panel-group {
    margin-bottom: 0;
}

.panel-group .panel+.panel {
    margin-top: 0;
    border-top: 1px solid #ccc;
}

.panel-heading {
    background-color: #eee;
    padding: 0;
}


.panel--inner .panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-title .panel-title-inner {
    width: 100%;
    display: inline-block;
    position: relative;
/*    background-color: rgba(200,200,200,.9);*/
    border-top: 1px solid #ccc;
    padding: 6px 15px;
}

.panel-title a:not(.collapsed) .glyphicon-triangle-right {
    display: none;
}

.panel-title a.collapsed .glyphicon-triangle-bottom {
    display: none;
}

.panelCollapsedStatus {
    position: absolute;
    right: 10px;
    top: 35%;
    font-size: 1rem;
}

label {
    font-weight: normal;
}

/*
#actionType .checkboxList .icon {
    background-image: url('./img/actionType-sprites.svg');
}

#population .checkboxList .icon {
    background-image: url('./img/population-sprites.svg');
}
*/

.checkboxList-sectionTitle {
    font-variant:small-caps;
}


.panelFilterStatus {
    color: #999;
    font-style: italic;
}

.dropdown-menu {
  max-height: 200px;
  overflow-x: scroll;
  height: auto;
}

.filter-dates .dropdown {
  display: inline-block;
}

.leaflet-popup-content {
    margin: 0;
}
.leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.popup-title {
  font-size: 18px;
}
.popup-title, .popup-link {
  margin: 10px;
}
.popup-table {
  width:100%;
}
.popup-table tr {
  border-bottom: 1px solid #777;
}
.popup-table tr:first-child {
  border-top: 1px solid #777;
}
.popup-table td {
  padding: 4px;
}
.popup-table tr td:first-child {
  font-weight: bold;
}
.popup-table img {
  float: right;
}

.popup-description {
  padding: 10px;
}

.popup-title .label-default {
  float:right;
}

.popup-truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marker-cluster-small-green {
    background-color: rgba(135, 220, 110, 0.2);
}
.marker-cluster-small-green div {
    background-color: rgba(135, 220, 110, 0.6);
}
.marker-cluster-small-blue {
    background-color: rgba(110, 190, 220, 0.2);
}
.marker-cluster-small-blue div {
    background-color: rgba(110, 190, 220, 0.6);
}
.marker-cluster-small-purple {
    background-color: rgba(195, 110, 220, 0.2);
}
.marker-cluster-small-purple div {
    background-color: rgba(195, 110, 220, 0.6);
}
.marker-cluster-small-brown {
    background-color: rgba(220, 140, 110, 0.2);
}
.marker-cluster-small-brown div {
    background-color: rgba(220, 140, 110, 0.6);
}
.marker-cluster-small-grey {
    background-color: rgba(180, 180, 180, 0.2);
}
.marker-cluster-small-grey div {
    background-color: rgba(180, 180, 180, 0.6);
}

.details {
/*    padding-top: 50px;*/
    width    : 100%;
    position : absolute; 
    top      : 50px;
    bottom   : 0; 
    overflow : auto;
    padding  : 20px;
}
.details .btn-default {
    float            : right;
    border-radius    : 15px;
    background-image : linear-gradient(to bottom, #eee 0px, #bbb 100%);
}
.details table tr {
    border-top : 1px solid #ddd;
    padding    : 5px;
}
.details table tr:first-child {
    border-top : 0px;
}
.details table tr td {
    border-top : 0px;
}
.details table tr td:first-child {
    font-weight : bold;
    width       : 30%;
    text-align  : right;
}
.details h2 {
    text-align: center;
}

#id_description, #id_suggestion {
    width: 100%;
}
