{% extends 'cnls/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="container details">
      <div class="header">
        <h1>Outil de remontée d'informations</h1>
        <p><em>Faites-nous part de vos suggestions et d'éventuels problèmes rencontrés. Nous sommes à votre écoute pour améliorer cet outil.</em></p>
      </div>
       <div class="row" style="padding:20px;">
          <form role="form" action="{% url 'bugs' %}" method="post">
           {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
{{form}}          
                <p><em>(Les champs marqués d'une * sont obligatoires)</em></p>
    		<input type="submit" class="btn" value="Submit" />
   	  </form>
      </div>
    </div>
{% endblock content %}

