{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Centre National de Lutte contre le SIDA à Madagascar</title>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="stylesheet" type="text/css" href="{% static "./vendors.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "./assets/main.css" %}">
 
  <script type="text/javascript">
var actionsNationales = {{actionsN|safe}}; // TODO Check if OK   
var actionsTananarive = {{actionsT|safe}};
var actionsRegionales = {{actionsR|safe}};
var actionsLocales = {{actionsL|safe}};

var toutesActions = {};
toutesActions['type'] = 'FeatureCollection';
toutesActions['crs'] = {'type': 'name', 'properties': {'name': 'EPSG:4326'}} // GeoJson specs recommend OGC CRS URNs such as "urn:ogc:def:crs:OGC:1.3:CRS84"
toutesActions['features'] = [];
for (var key in actionsNationales.features) {
    actionsNationales.features[key]['properties']['pays'] = 'madagascar';
    toutesActions['features'].push(actionsNationales.features[key]);
}
for (var key in actionsTananarive.features) {
    toutesActions['features'].push(actionsTananarive.features[key]);
}
for (var key in actionsRegionales.features) {
    toutesActions['features'].push(actionsRegionales.features[key]);
}
for (var key in actionsLocales.features) {
    toutesActions['features'].push(actionsLocales.features[key]);
}
  </script>

  <script type="text/javascript" src="{% static "./assets/app.js" %}"></script>
  
</head>

<body onload="init();">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Centre National de Lutte contre le SIDA à Madagascar</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home' %}">Carte</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="admin">Connexion</a></li>
          <li><a href="index.html"><img alt="Français" src="{% static "./assets/img/locale_fr-FR.png" %}"></a></li>
          <li><a href="index.mg-MG.html"><img alt="Malagasy" src="{% static "./assets/img/locale_mg-MG.png" %}"></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav><!--/top nav -->



  <button id="filters-button" type="button" class="btn btn-warning js-showfilters" aria-hidden="true">
    Filtrer <span class="glyphicon glyphicon-triangle-top" ></span>
  </button>

  <div id="filters" class="panel panel--outer js-filters">

    <div class="mobileFilterHeader" aria-hidden="true">
      Filtres
      <button class="mobileFilterHeader-close js-closeFilters">
        Fermer
        <span class="close">×</span>
      </button>
    </div>


    <div class="filters-inner">


      <div class="panel-group" role="tablist" aria-multiselectable="true">
      
      <!--echelles panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#echelle" aria-expanded="true" aria-controls="echelle"  class="panel-title-inner">
                &Eacute;chelles d&#39;intervention

                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>

              </a>
            </h4>
          </div>

          <div id="echelle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="echelle">
              
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="pays">Actions nationales
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="fokontany">Actions &agrave; Tananarive
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="region">Actions r&eacute;gionales
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="commune">Actions locales
              </label>
            </div>
          </div>
        </div><!--/echellse panel -->


        <!--actionType panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#actionType" aria-expanded="false" aria-controls="actionType"  class="panel-title-inner">
                Types d'actions
                <!--<span class="panelFilterStatus" data-countof="actionType"></span>-->

                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>

              </a>
            </h4>
          </div>

          <div id="actionType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="actionTypeHeading">
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="typeintervention">
              {% for type in typesinterventions %}
              {% with "./media/picto/typeintervention-"|add:type.nom|add:".png" as pictoType %}         
              <label>
                <span class="icon" style="background-image: url({% static pictoType %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{type.get_nom_display}}">
                <abbr title="{{type.descriptif}}">{{type.get_nom_display}}</abbr>
              </label>
              {% endwith %}
              {% endfor %}
<!--              <label>
                <input type="checkbox" checked data-filter-checkbox-value="plaidoyer">
                <abbr title="action visant à changer les comportements et à influencer les politiques. Ce genre d'interventions consiste en des actions d'informations, de sensibilisation, renforcement des capacités, d'établissement de réseaux/partenariats et aussi de lobbying.">Plaidoyer</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ccc">
                <abbr title="communication pour le changement de comportement ou communication de proximité">CCC</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="preservatifs">
                <abbr title="promotion et distribution de préservatifs (masculins, féminins, gels lubrifiants).">Promotion de préservatifs</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="communication">
                <abbr title="Sensibilisation lors de manifestations ou événements culturels, Unité Mobile Vidéo, programme radiophonique, programme télévisé, etc...">Communication de masse</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ist">
                Prise en charge IST
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="depistage">
                <abbr title="action de dépistage du virus et conseils">Dépistage</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="prise_en_charge">
                <abbr title="Prise en charge IST et prise en charge médicale des PVVIH (suivi biologique, traitement ARV, traitement des infections opportunistes). ">Prise en charge médicale</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="soutien">
                <abbr title="soutien des personnes infectées et affectées par le VIH (prise en charge psychosociale, appuis nutritionnels, appuis économiques, éducation thérapeutique, conseil, etc)">Soutien</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="coordination">
                <abbr title="Coordination et suivi, évaluation">Coordination</abbr>
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="renforcement">
                Renforcement des capacités
              </label>-->
            </div>
          </div>
        </div><!--/actionType panel -->


        <!--populations panel -->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab" id="populationHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse"  href="#population" aria-expanded="false" aria-controls="population" >
                Populations
                <!--<span class="panelFilterStatus" data-countof="population"></span>-->
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>
          <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="cible">
            {% for cible in cibles %}
            {% with "./media/picto/cible-"|add:cible.nom|add:".png" as pictoCible %}
              <label>
                <span class="icon" style="background-image: url({% static pictoCible %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{cible.get_nom_display}}">{{cible.get_nom_display}}
              </label> 
            {% endwith %}   
            {% endfor %}
            </div>
          </div>
        </div><!--/population panel -->


        <!--province panel -->
<!--        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="provinceHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#province" aria-expanded="false" aria-controls="province" class="panel-title-inner">
                Faritras
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>

          <div id="province" class="panel-collapse collapse" role="tabpanel" aria-labelledby="provinceHeading">
            <div class="panel-body">
                <select name="faritra" class="js-regions" onChange="javascript:initRegionsListEvents2(this);">
                <!-- filled by app.js -->
<!--                </select>
            </div>

          </div>
        </div>--><!--/province panel -->

        <!-- date panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="dateHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#date" aria-expanded="false" aria-controls="date">
                Dates
                <span class="panelFilterStatus js-filter-dates-status">jan. 2010 → jan. 2015</span>
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>
          <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
            <div class="panel-body js-filter-dates filter-dates" data-filter-dates-field-start="date_debut" data-filter-dates-field-end="date_fin" data-filter-dates-format="YYYY-MM-DD">

              <p>
                De :
                <div class="dropdown js-filter-dates-start-month">
                  <button class="btn btn-default dropdown-toggle" type="button" id="date_start_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_month">
                    <!-- filled by app.js -->
                  </ul>
                </div>
                <div class="dropdown js-filter-dates-start-year">
                  <button class="btn btn-default dropdown-toggle" type="button" id="date_start_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_year">
                    <!-- filled by app.js -->
                  </ul>
                </div>
              </p>


              <p>
              À :
              <div class="dropdown js-filter-dates-end-month">
                <button class="btn btn-default dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="js-lbl">-</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  <!-- filled by app.js -->
                </ul>
              </div>
              <div class="dropdown js-filter-dates-end-year">
                <button class="btn btn-default dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="js-lbl">-</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  <!-- filled by app.js -->
                </ul>
              </div>


            </div>
          </div>
        </div><!--/date panel -->


      </div>  <!--/.panel-group -->
    </div>
  </div><!--/#filters -->




  <div id="map"></div>

  <a class="bottomLeftLogo" href="http://www.cartong.org/">
    <img src="{% static "./assets/img/CartONG_logo.png" %}" alt="CartONG">
  </a>




<!-- popupTpl -TODO à déplacer dans un fichier html propre ? -->
  <script type="text/template" class="js-tpl-popup">
    <div class="js-popup" data-index="<%= internalIndex %>">
      <div class="popup-title">
        <%= data.titre %>
        <% if (data.avancement === 'en cours') { %>
          <span class="label label-default">en cours</span>
        <% } else if (data.avancement === 'en attente') { %>
          <span class="label label-default">en attente</span>
        <% } else { %> 
          <span class="label label-default">terminé</span>
        <% } %>  

      </div>

      <table class="popup-table table table-striped">
        <% if (data.pays) { %>
        <tr>
          <td>&Eacute;chelle</td>
          <td>nationale</td>
        </tr>
        <% } else if (data.region) { %>
        <tr>
          <td>&Eacute;chelle</td>
          <td>r&eacute;gionale</td>
        </tr>
        <tr>
          <td>R&eacute;gion(s)</td>
          <td><%= data.region %></td>
        </tr>
        <% } else if (data.commune) { %>
        <tr>
          <td>&Eacute;chelle</td>
          <td>locale</td>
        </tr>
        <tr>
          <td>Commune(s)</td>
          <td><%= data.commune %></td>
        </tr>
        
        <% } else if (data.fokontany) { %>
        <tr>
          <td>&Eacute;chelle</td>
          <td>Tananarive</td>
        </tr>
        <tr>
          <td>Fokontany(s)</td>
          <td><%= data.fokontany %></td>
        </tr>
        <% } %>  
        
        <tr>
          <td>ONG</td>
          <td><%= data.organisme %></td>
        </tr>
        <tr>
          <td>Type(s) d&#39;actions</td>
          <td><%= data.typeintervention %></td>
        </tr>
        <tr>
          <td>Population</td>
          <td><%= data.cible %></td>
        </tr>
        <tr>
          <td>Date début</td>
          <td><% if (data.date_debut) print(moment(data.date_debut, 'YYYY-MM-DD').format('ll')) %></td>
        </tr>
        <tr>
          <td>Date fin</td>
          <td><% if (data.date_fin) print(moment(data.date_fin, 'YYYY-MM-DD').format('ll')) %></td>
        </tr>

      </table>
      
      <div class="popup-link">
        <a class="underline js-openContentModal"  href="#">Détails</a>
      </div>
    </div>
  </script>
<!--
  <script type="text/template" class="js-tpl-modal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= data.titre %></h4>
          </div>
          <div class="modal-body">
          <% if (data.description == "") print("(pas de description enregistr&eacute;e)")
             else print(data.description) %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </script>-->



  <script type="text/javascript" src="{% static "./vendors.js" %}"></script>

  <script type="text/javascript">
//    L.Icon.Default.imagePath = "{% static "./assets/img" %}";
    window.appConfig = {
//      testDataPath : "{% static "assets/testData.json" %}",
      faritraGeoJsonPath : "{% static "assets/faritra.json" %}",
      locale:'fr-FR'
    };
  </script>


</body>
</html>
