{% extends 'cnls/base.html' %}

{% load staticfiles %}

{% block custom_js %} 
  <script type="text/javascript">
var actionsNationales = {{actionsN|safe}};
var actionsTananarive = {{actionsT|safe}};
var actionsRegionales = {{actionsR|safe}};
var actionsLocales = {{actionsL|safe}};

var toutesActions = {};
toutesActions['type'] = 'FeatureCollection';
toutesActions['crs'] = {'type': 'name', 'properties': {'name': 'EPSG:4326'}} // GeoJson specs recommend OGC CRS URNs such as "urn:ogc:def:crs:OGC:1.3:CRS84"
toutesActions['features'] = [];
for (var key in actionsNationales.features) {
    toutesActions['features'].push(actionsNationales.features[key]);
}
for (var key in actionsTananarive.features) {
    toutesActions['features'].push(actionsTananarive.features[key]);
}
for (var key in actionsRegionales.features) {
    toutesActions['features'].push(actionsRegionales.features[key]);
}
for (var key in actionsLocales.features) {
    toutesActions['features'].push(actionsLocales.features[key]);
}
  </script>

  <script type="text/javascript" src="{% static "./assets/app.js" %}"></script>
    
  <script type="text/javascript" src="{% static "./vendors.js" %}"></script>
  <script type="text/javascript" src="{% static "./assets/leaflet.js" %}"></script>
  <script type="text/javascript" src="{% static "./assets/leaflet.markercluster.js" %}"></script>
{% endblock custom_js %}

{% block open_body %}<body onload="init();">{% endblock %}  

{% block onglet_carte %}class="active"{% endblock %}

{% block content %}
  <button id="filters-button" type="button" class="btn btn-warning js-showfilters" aria-hidden="true">
    Filtrer <span class="glyphicon glyphicon-triangle-top" ></span>
  </button>

  <div id="filters" class="panel panel--outer js-filters">

    <div class="mobileFilterHeader" aria-hidden="true">
      Filtres
      <button class="mobileFilterHeader-close js-closeFilters">
        Fermer
        <span class="close">×</span>
      </button>
    </div>


    <div class="filters-inner">


      <div class="panel-group" role="tablist" aria-multiselectable="true">
      
      <!--echelles panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#echelle" aria-expanded="true" aria-controls="echelle"  class="panel-title-inner">
                &Eacute;chelles d&#39;intervention

                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>

              </a>
            </h4>
          </div>

          <div id="echelle" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
          
            <div class="panel-body checkboxAll">       
              <label>
                <input type="checkbox" checked onClick="toggleAll(this, 'echelle')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="echelle">
              
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ActionNationale">Actions nationales
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ActionTananarive">Actions &agrave; Tananarive
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ActionRegionale">Actions r&eacute;gionales
              </label>
              <label>
                <input type="checkbox" checked data-filter-checkbox-value="ActionLocale">Actions locales
              </label>
            </div>
          </div>
        </div><!--/echellse panel -->


        <!--actionType panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="actionTypeHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#actionType" aria-expanded="false" aria-controls="actionType"  class="panel-title-inner">
                Types d'actions
                <!--<span class="panelFilterStatus" data-countof="actionType"></span>-->

                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>

              </a>
            </h4>
          </div>

          <div id="actionType" class="panel-collapse collapse" role="tabpanel" aria-labelledby="actionTypeHeading">
            <div class="panel-body checkboxAll">       
              <label>
                <span class="icon" style="background-image: url({% static "./media/picto/blank.png" %})"></span>
                <input type="checkbox" checked onClick="toggleAll(this, 'typeintervention')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="typeintervention">
              {% for type in typesinterventions %}
              {% with "./media/picto/typeintervention-"|add:type.nom|add:".png" as pictoType %}         
              <label>
                <span class="icon" style="background-image: url({% static pictoType %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{type.nom}}">
                <abbr title="{{type.descriptif}}">{{type.get_nom_display}}</abbr>
              </label>
              {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div><!--/actionType panel -->


        <!--populations panel -->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab" id="populationHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse"  href="#population" aria-expanded="false" aria-controls="population" >
                Populations
                <!--<span class="panelFilterStatus" data-countof="population"></span>-->
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>
          <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
            <div class="panel-body checkboxAll">       
              <label>
                <span class="icon" style="background-image: url({% static "./media/picto/blank.png" %})"></span>
                <input type="checkbox" checked onClick="toggleAll(this, 'cible')"><i>Tout dé-/sélectionner</i>
              </label>
            </div>
            <div class="panel-body checkboxList js-filter-checkboxes" data-filter-checkboxes-field="cible">
              {% for cible in cibles %}
              {% with "./media/picto/cible-"|add:cible.nom|add:".png" as pictoCible %}
              <label>
                <span class="icon" style="background-image: url({% static pictoCible %})"></span>
                <input type="checkbox" checked data-filter-checkbox-value="{{cible.nom}}">{{cible.get_nom_display}}
              </label> 
            {% endwith %}   
            {% endfor %}
            </div>
          </div>
        </div><!--/population panel -->


        <!--province panel -->
<!--        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="provinceHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#province" aria-expanded="false" aria-controls="province" class="panel-title-inner">
                Faritras
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>

          <div id="province" class="panel-collapse collapse" role="tabpanel" aria-labelledby="provinceHeading">
            <div class="panel-body">
                <select name="faritra" class="js-regions" onChange="javascript:initRegionsListEvents2(this);">
                <!-- filled by app.js -->
<!--                </select>
            </div>

          </div>
        </div>--><!--/province panel -->

        <!-- date panel -->
        <div class="panel panel--inner">
          <div class="panel-heading" role="tab" id="dateHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" data-toggle="collapse" href="#date" aria-expanded="false" aria-controls="date">
                Dates
                <span class="panelFilterStatus js-filter-dates-status">jan. 2010 → jan. 2015</span>
                <span class="panelCollapsedStatus">
                  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                </span>
              </a>
            </h4>
          </div>
          <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
            <div class="panel-body js-filter-dates filter-dates" data-filter-dates-field-start="date_debut" data-filter-dates-field-end="date_fin" data-filter-dates-format="YYYY-MM-DD">

              <p>
                De :
                <div class="dropdown js-filter-dates-start-month">
                  <button class="btn btn-default dropdown-toggle" type="button" id="date_start_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_month">
                    <!-- filled by app.js -->
                  </ul>
                </div>
                <div class="dropdown js-filter-dates-start-year">
                  <button class="btn btn-default dropdown-toggle" type="button" id="date_start_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="js-lbl">-</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="date_start_year">
                    <!-- filled by app.js -->
                  </ul>
                </div>
              </p>


              <p>
              À :
              <div class="dropdown js-filter-dates-end-month">
                <button class="btn btn-default dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="js-lbl">-</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  <!-- filled by app.js -->
                </ul>
              </div>
              <div class="dropdown js-filter-dates-end-year">
                <button class="btn btn-default dropdown-toggle" type="button" id="date_end_month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="js-lbl">-</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="date_end_month">
                  <!-- filled by app.js -->
                </ul>
              </div>


            </div>
          </div>
        </div><!--/date panel -->


        <!--export panel -->
        <div class="panel  panel--inner">
          <div class="panel-heading" role="tab" id="populationHeading">
            <h4 class="panel-title">
              <a class="collapsed panel-title-inner" id="export" href="javascript:exportCSV();">Exporter la sélection au format .csv
<!--                  <button type="button" onclick="location.href='./actions/'">Exporter la sélection au format .csv</button> -->
              </a>
            </h4>
          </div>
          <div id="export" class="panel-collapse collapse" role="tabpanel" aria-labelledby="exportHeading">
            
          </div>
        </div><!--/export panel -->


      </div>  <!--/.panel-group -->
    </div>
  </div><!--/#filters -->




  <div id="map"></div>

  <a class="bottomLeftLogo" href="http://www.cartong.org/">
    <img src="{% static "./assets/img/CartONG_logo.png" %}" alt="CartONG">
  </a>


  <script type="text/javascript">
//    L.Icon.Default.imagePath = "{% static "./assets/img" %}";
    window.appConfig = {
//      testDataPath : "{% static "assets/testData.json" %}",
      faritraGeoJsonPath : "{% static "assets/faritra.json" %}",
      locale:'fr-FR'
    };
  </script>

{% endblock content%}
